@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<BLT.WWW.ViewModels.KSKUploadResults>
@{
    Layout = "/admin/_adminlayout.cshtml";
}
<div class="container-fluid">
    <form class="form-horizontal" action="~/admin/ksk/save" method="POST" enctype="multipart/form-data">
        <div class="row">
            <div class="col-sm-12 col-md-12">
                <div role="alert" class="alert alert-info">

                    <span class="glyphicon glyphicon-exclamation-sign"></span>&nbsp;
                    These lists were exported on <strong>@Model.ImportData.ExportDate</strong> click <strong>Save</strong> to proceed.
                </div>
            </div>
        </div>
        <div class="row" style="padding-bottom:5px;">
            <div class="col-sm-6 col-md-3"><button class="btn btn-primary" style="width:100%">Save</button></div>
        </div>
        <div class="row">
            @foreach (var l in @Model.ImportData.Lists)
            {
                <div class="col-sm-6 col-md-3">
                    <div class="panel panel-default">
                        <div class="panel-heading">@l.Name</div>

                        <ul class="list-group">
                            @for (int i = 0; i < l.Users.Count; i++)
                            {

                                <li class="list-group-item">
                                    @if (!l.Users[i].User.IsInDatabase)
                                    {
                                        <span class="label label-default">New</span>
                                    }
                                    @(i + 1).&nbsp;@l.Users[i].User.Name.Split('-')[0] -- @l.Users[i].User.Class.Name
                                </li>
                            }
                        </ul>

                    </div>

                </div>

            }
        </div>
        <input type="hidden" name="importData" id="importData" value="@Model.EncodedImportData" />
    </form>

</div>
