@using BLT.WWW.Serialization;
@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<BLT.WWW.ViewModels.KSKUploadResults>
@{
    Layout = "/admin/_adminlayout.cshtml";
}
<div class="container-fluid">
    <form class="form-horizontal">
        <div class="row">
            <div class="form-group">
                <label class="control-label col-sm-3 col-md-2">Export Date: </label>
                <div class="col-sm-9 col-md-10">
                    <p class="form-control-static">@Model.ImportData.ExportDate</p>
                </div>
            </div>
        </div>
        <div class="row">
            @foreach (var l in @Model.ImportData.Lists)
            {
                <div class="col-sm-6 col-md-3">
                    <div class="panel panel-default">
                        <div class="panel-heading">@l.Name</div>

                        <ul class="list-group">                            
                                @for (int i = 0; i < l.Users.Count; i++)
                                {
                                   
                                <li class="list-group-item">
                                    @if (!l.Users[i].User.IsInDatabase)
                                    {
                                        <span class="label label-default">New</span>
                                    }
                                    @(i + 1).&nbsp;@l.Users[i].User.Name.Split('-')[0] -- @l.Users[i].User.Class.Name
                                </li>
                                }                                
                            </ul>

                        </div>

                    </div>

            }
        </div>

    </form>
</div>
