@using BLT.WWW.Serialization;
@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<BLT.WWW.ViewModels.KSKUploadResults>
@{
    Layout = "/admin/_adminlayout.cshtml";
}


<div class="container">
    <div class="page-header">
        <h1>This is what you uploaded</h1>
    </div>
    <div>Export taken on @Model.ImportData.ExportDate</div>
    <div>
        The following Characters have not been seen before:

        <ul>
            @foreach (var u in @Model.ImportData.Users)
            {
                if (!u.IsInDatabase)
                {
                    <li>
                        @u.Name -- @u.Class.Name (@u.Id)
                    </li>
                }
            }
        </ul>

    </div>



    <div role="tabpanel">
        Lists:
        <ul class="nav-sidebar nav-tabs" role="tablist">
            @foreach (var l in @Model.ImportData.Lists)
            {
                <li role="presentation">
                    <a href="#@l.Name" aria-controls="@l.Name" role="tab" data-toggle="tab">@l.Name</a>
                </li>
            }
        </ul>
    </div>
    <div class="tab-content">
        @foreach (var l in @Model.ImportData.Lists)
        {
            <div role="tabpanel" class="tab-pane" id="@l.Name">
                <ul>
                    @foreach (var u in l.Users)
                    {
                        <li>@u.User.Name -- @u.User.Class.Name (@u.User.Id)</li>
                    }
                </ul>
            </div>
        }
    </div>
</div>